{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Citizen Feedback</legend>
                <div class="form-group">
                    {{ form.feed.label(class="form-control-label") }}

                    {% if form.feed.errors %}
                        {{ form.feed(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.feed.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.feed(class="form-control form-control-lg") }}
                    {% endif %}
                </div>    
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}